 {
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
  height: auto;
  background: #222323;
}

.header_content {
  width: 95%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  color: #f0f6f0;
}

.logo {
  width: 200px;
  height: 80px;
  font-size: 60px;
  align-items: center;
}

.buttons {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  font-size: large;
}

.sign_in, .log_in {
  height: 80px;
  width: 200px;
  padding-top: 38px;
  align-items: center;
  border: solid 3px white;
  border-radius: 40px;
  font-size: 40px;
  cursor: pointer;
}

.sign_in:hover, .log_in:hover {
  background: #f0f6f0;
  color: #222323;
  transition: .5s;
}

.modal-window_log-in {
  width: 80%;
  height: 900px;
  margin: auto;
  position: absolute;
  top: 700px;
  left: 10%;
  z-index: 1;
  background: #f0f6f0;
  border: solid 4px #222323;
  border-radius: 30px;
  display: none;
}


.log-in_title {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  /* text-align: center; */
  padding-top: 40px;
}

.reg-title {
  width: 40%;
}

.log-in_close {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  background: #222323;
  cursor: pointer;
  color: #f0f6f0;
  font-size: 70px;
  text-align: center;
}

.log-in_login, .log-in_first-password, .log-in_second-password {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.login-pass {
  height: 60px;
  border: #222323 solid 2px;
  border-radius: 10px;
  font-size: 25px;
}

.log-in_registration {
  height: 90px;
  width: 80%;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #222323;
  border-radius: 20px;
  font-size: 30px;
  background: #222323;
  color: #f0f6f0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.log-in_sign-in {
  font-size: 30px;
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

.modal-window-sign-in {
  width: 80%;
  height: 900px;
  margin: auto;
  position: absolute;
  top: 700px;
  left: 10%;
  z-index: 1;
  background: #f0f6f0;
  border: solid 4px #222323;
  border-radius: 30px;
  display: none;
}

main {
  width: 100%;
}

.modal-window_create-new-game {
  width: 80%;
  height: 900px;
  margin: auto;
  position: absolute;
  top: 700px;
  left: 10%;
  z-index: 1;
  background: #f0f6f0;
  border: solid 4px #222323;
  border-radius: 30px;
  display: none;
}

.modal-window-creating_close {
  height: 80px;
  width: 80px;
  position: relative;
  top: 20px;
  left: calc(100% - 90px);
  border-radius: 5px;
  background: #222323;
  cursor: pointer;
  color: #f0f6f0;
  font-size: 70px;
  text-align: center;
}

.modal-window-creating_title {
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
}

.modal-window-creating_buttons {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  top: 35%;
}

.modal-window-creating_sign-in, .modal-window-creating_create-game {
  height: 90px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #222323;
  border-radius: 20px;
  font-size: 30px;
  background: #222323;
  color: #f0f6f0;
  cursor: pointer;
  text-decoration: none;
}

.modal-window_join-to-game {
  width: 80%;
  height: 900px;
  margin: auto;
  position: absolute;
  top: 700px;
  left: 10%;
  z-index: 1;
  background: #f0f6f0;
  border: solid 4px #222323;
  border-radius: 30px;
  display: none ;
}

.modal-window-join_close {
  height: 80px;
  width: 80px;
  position: relative;
  top: 20px;
  left: calc(100% - 90px);
  border-radius: 5px;
  background: #222323;
  cursor: pointer;
  color: #f0f6f0;
  font-size: 70px;
  text-align: center;
}

.modal-window-join_title {
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
}

.modal-window-join_input-name {
  width: 80%;
  height: 90px;
  margin-top: 90px;
  border-radius: 20px;
  font-size: 40px;
}

.join-to-game {
  height: 90px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
  border: solid 3px #222323;
  border-radius: 20px;
  font-size: 30px;
  background: #f0f6f0;
  color: #222323;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.modal-window-join_buttons {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20%;
  position: relative;
  top: 30%;
}

.modal-window-join_sign-in, .modal-window-join_create-game {
  height: 90px;
  /* width: 40%; */
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #222323;
  border-radius: 20px;
  font-size: 30px;
  background: #f0f6f0;
  color: #222323;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.content_top {
  width: 100%;
  height: 1000px;
  margin: auto;
  background: #222323;
}

.button_create-game {
  width: 40%;
  height: 100px;
  margin: auto;
  position: relative;
  top: 70%;
  display: flex;
  align-items: center;
  border: solid #f0f6f0 3px;
  border-radius: 60px;
  text-align: center;
  color: #222323;
  font-size: 40px;
  cursor: pointer;
}

.content_bot {
  width: 100%;
  height: 1000px;
  margin: auto;
  background: #f0f6f0;
}

.button_join-game {
  width: 50%;
  height: 120px;
  margin: auto;
  padding: 15px;
  position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  border: solid #222323 3px;
  border-radius: 60px;
  text-align: center;
  color: #222323;
  font-size: 40px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 70px;
  background: #f0f6f0;
  padding: 30px 0;
  margin: auto;
  font-size: 30px;
  text-align: center;
}