<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/GamePage.css">
  <link rel="icon" type="Image/x-icon" href="/images/favicon.png">
</head>
<body>
  <script src="../../static/js/GamePage.js"></script>
  <header>
    <div class="header_content">
      <div class="logo">QRPuzzle</div>
    </div>
  </header>
  <main class="main">
    <div class="puzzle-title">
      <p>Соберите пазл</p>
    </div>
    <div class="puzzle-field">
        <div class="place_piece" id="place_piece_1"></div>
        <div class="place_piece" id="place_piece_2"></div>
        <div class="place_piece" id="place_piece_3"></div>
        <div class="place_piece" id="place_piece_4"></div>
        <div class="place_piece" id="place_piece_5"></div>
        <div class="place_piece" id="place_piece_6"></div>
        <div class="place_piece" id="place_piece_7"></div>
        <div class="place_piece" id="place_piece_8"></div>
        <div class="place_piece" id="place_piece_9"></div>
    </div>
    <div class="puzzle-subtitle">
      <p class = 'text'>Ваши кусочки пазла</p>
    </div>
    <div class="puzzle-pieces" id="puzzle-pieces">
        <div class="piece">
            <input id="9" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_2_2.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
            <input id="8" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_2_1.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
            <input id="7" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_2_0.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
            <input id="6" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_1_2.jpg" tabindex="0">
            </div>
        </div>
       <div class="piece">
            <input id="5" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_1_1.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
           <input id="4" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_1_0.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
            <input id="3" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_0_2.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
           <input id="2" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_0_1.jpg" tabindex="0">
            </div>
        </div>
        <div class="piece">
            <input id="1" class="piece_up" type="radio" name="radio" value="1">
            <div class="img_div" >
                <img class="Myimg" src="../../static/image/part_0_0.jpg" tabindex="0">
            </div>
        </div>
    </div>
  </main>
  <footer>
    <p>Создано командой "No Homo"</p>
  </footer>
</body>
</html>