<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/HostPageStyle.css">
  <link rel="icon" type="Image/x-icon" href="/images/favicon.png">
</head>
<body>
  <header>
    <div class="header_content">
      <div class="logo">QRPuzzle</div>
    </div>
  </header>
  <main>
    <div class="description-modal-window">
      <div class="description-modal-window_close">
        &#215;
      </div>
      <div class="description-modal-window_title">
        Описание пазла
      </div>
      <div class="description-modal-window_image"></div>
      <input type="text" value="Введите описание" class="description-modal-window_description">
      <div class="description-modal-window_save">Сохранить</div>
    </div>
    <div class="content-top">
      <p class="top-suptitle">Загрузите свое изображение</p>
      <input type="file" class="input-file">
      <p class="top-subtitle">скачайте QR-коды пазла</p>
      <div class="download-file">Скачать</div>
    </div>
    <div class="content-bot">
      <p class="bot-suptitle">Создание игры</p>
      <div class="create-game"><a href="game">Создать</div>
      <div class="bot-subtitle">Добавить описание</div>
      <div class="add-description">Добавить</div>
    </div>
  </main>
  <footer>
    <p>Создано командой "No Homo"</p>
  </footer>
  <script src="../../static/js/HostPage.js"></script>
</body>
</html>